<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.brctl.dao.ArticleMapper">

    <sql id="columns">
        id,
        title,
        <!--
        abstractContent,
        -->
        content,
        author,
        createTime,
        type,
        deleteFlag
    </sql>


    <select id="findById" parameterType="java.lang.String" resultType="Article">
        SELECT
        <include refid="columns"/>,
        abstract AS abstractContent
        FROM article WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Article">
        SELECT * FROM article
    </select>

</mapper>