<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties" />

    <settings>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn
        true | false
        False -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!-- 使用该配置项配置后，在Mapper.xml中可以直接使用类名，无需写全包名前缀 -->
    <typeAliases>
        <!-- 单独指定
        <typeAlias type="Article" alias="com.brctl.domain.Article"/>
        -->
        <!-- 按包指定 -->
        <package name="com.brctl.domain"/>
    </typeAliases>

    <!-- 在使用数据库连接池后，无需在此配置dataSource -->
    <!--
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>
    -->

    <!-- 使用mybatis-spring后，可以将Mapper.xml交由Spring管理 -->
    <!--
    <mappers>
        <mapper resource="com.brctl.mapper.ArticleMapper.xml"/>
    </mappers>
    -->
</configuration>