<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties" />

    <settings>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn
        true | false
        False -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="com.brctl.domain"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 可以使用变量进行替换
                 -->
                <property name="driver" value="${database_driver}"/>
                <property name="url" value="${dev_database_url}"/>
                <property name="username" value="${dev_database_username}"/>
                <property name="password" value="${dev_database_password}"/>
                <!--
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/blog?characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="songyunting"/>
                -->
            </dataSource>
        </environment>
    </environments>
    <!--
    <mappers>
        <mapper resource="com.brctl.mapper.ArticleMapper.xml"/>
    </mappers>
    -->
</configuration>